header{
    background-color: #7C5E99;
    border-bottom: 10px solid black ;
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav{
    text-align: right;
}

a::before{
    content: '';    
    width: 10px;
    height: 10px;
    background-color: #F25A70;
    margin-right: 10px;
}

a{    
    display: inline-flex;
    align-items: center;
    color: white;
    font-size: 20px;
    font-family: 'Fira Code', sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

.buttons{
    border: none;
    color: white;
    font-size: 20px;
    display: inline-block;
    font-family: 'Fira Code', sans-serif;
    background-color: #F25A70;
    line-height: 60px;
    height: 60px;
    padding: 0 20px;
    box-shadow: 5px 5px 0px black;
    margin-right: 0;
    transition: .1s ;
}

.buttons:hover{
    background-color: #ff3856;
    transform: scale(1.06);
}

