.main-banner{
    background-image: url(../../assets/img/photo.png);
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom: 10px solid black;
    background-attachment: fixed;
}

.main-banner .wrapper{
    position: absolute;
    width: 630px;    
    margin-top: 116px;
    margin-left: 91px;
}

.main-banner .box{
    margin-bottom: 38px;
}

.main-banner .wrapper .navigation{
    width: 100%;
    display: flex;
    justify-content: space-around;
}