.main-button{
    border: none;
    color: white;
    font-size: 20px;
    display: inline-block;
    font-family: inherit;
    background-color: #F25A70;
    line-height: 60px;
    height: 60px;
    padding: 0 20px;
    box-shadow: 5px 5px 0px black;
    margin-right: 0;
    transition: .1s ;
    text-decoration: none;
}

.main-button:hover{
    background-color: #ff3856;
    transform: scale(1.06);
}
