.main-section{
background-color: #F25A70;
border-bottom: 10px solid #7C5E99 ;
padding: 50px 0 100px 0 ;
}

.main-section .main-title{
    margin-bottom: 60px;
}

.main-section._projetos{
    background-color: black;
    border-color: #F25A70;
    padding: 50px 0 0 0;
}

.main-section._sobre{
    background-color: #7C5E99;
    border-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-section._contato{
    background-color: #3A4042;
    
}